
.img_logo {
    height: 50px !important;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:rgb(255, 255, 255);
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }
  .contact_form{  
    width: 460px; 
    height: auto;
    margin: auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ddeee9; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ddeee9; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  .button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #ddeee9; 
    border-color: #ddeee9; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: rgb(0, 0, 0); 
  }
  
  
  .obligatorio{
    color: #fff; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  
  h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: #202020;
  }
  
  
  h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
  }
  
  
  p{
    font-size: 14px; 
    color: #0e0e0e; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  .linea {
    background: #a8a8a8 ;
    height: 5px;
    width: 100%;
    display: block;
  }

  .galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 90%;
    margin: auto;
    grid-gap: 30px;
    padding: 10px 0;
    overflow: hidden;
  }

  .galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow:0 0 6px rgba(0,0,0, .5) ;
  }

  .galeria img{
    vertical-align: top;
    height: 200px;
    object-fit: cover;
    /* transition: transform 0.5s ; */
  }

  .galeria a:hover img{
    /* filter: blur(2px);
    transform: rotate(10deg) scale(1.3); */

  }

  .light-box{
    position:fixed ;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
  }
  
  .light-box img{
    width: 75vw;
    max-height: 70vh;
  }

  .light-box:target{
    transform: scale(1);
  }

  .close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: black;
    color: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
  }

  .next{
    display: block;
    background:none;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
  } 